[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/zsiciliani
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/zsiciliani
	label-Verified = -1..+1 group user/zsiciliani
	push = group user/zsiciliani
	read = group user/zsiciliani
	rebase = group user/zsiciliani
	removeReviewer = group user/zsiciliani
	submit = group user/zsiciliani
[access "refs/heads/*"]
	create = group user/zsiciliani
	push = +force group user/zsiciliani
	pushMerge = group user/zsiciliani
	read = group user/zsiciliani
[access "refs/tags/*"]
	push = group user/zsiciliani
	push = +force group user/zsiciliani
